<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - April 07, 2014!</div>
				<div class="container_12">
					<div class="grid_12">
            <h3>Cars</h3>
            <hr>
					</div>
					<div class="clear"></div>
					<div class="gallery">
            <div class="grid_4" *ngFor="let v of kategorisanaAuta">
              <div><span class="eko">{{ v.klasa }}</span>
                <span id="cena">{{ v.cena }}$/1 km</span></div>


              <a href="javascript:void(0)" class="gal"><img src="{{ v.slika }}" alt=""></a>


					</div>





				</div>
			</div>

